Project1Vanquish/force-app/main/default/flows/Notify_Engineers_Assigned_to_Work_Orders.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Action010_Email_Assigned_Engineer</name>
        <label>Action010 Email Assigned Engineer</label>
        <locationX>50</locationX>
        <locationY>1799</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>templateAssignmentEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>varAssignedEngineer.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>thechasejohns@gmail.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Work Order Assignment</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Assignment010_Fetched_Engineer_to_Variable</name>
        <label>Assignment010 Fetched Engineer to Variable</label>
        <locationX>281</locationX>
        <locationY>1007</locationY>
        <assignmentItems>
            <assignToReference>varAssignedEngineer</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get010_Assigned_Engineer</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision010_Is_Assigned_User_an_Engineer</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>CONSTANT_PROFILE</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Engineer</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Decision005_Was_the_Status_of_New_Work_Order_Properly_Assigned</name>
        <label>Decision005 Was the Status of New Work Order Properly Assigned?</label>
        <locationX>281</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>Decision006_Is_Status_Assigned</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Status is Assigned or Later</defaultConnectorLabel>
        <rules>
            <name>Status_is_New</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update010_Set_Status_to_Assigned</targetReference>
            </connector>
            <label>Status is New</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision006_Is_Status_Assigned</name>
        <label>Decision006 Is Status Assigned?</label>
        <locationX>457</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Is Later</defaultConnectorLabel>
        <rules>
            <name>Is_Assigned</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Assigned</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get010_Assigned_Engineer</targetReference>
            </connector>
            <label>Is Assigned</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision010_Is_Assigned_User_an_Engineer</name>
        <label>Decision010 Is Assigned User an Engineer?</label>
        <locationX>281</locationX>
        <locationY>1127</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varAssignedEngineer.Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CONSTANT_PROFILE</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Decision020_Is_Work_Order_New</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision020_Is_Work_Order_New</name>
        <label>Decision020 Is Work Order New?</label>
        <locationX>50</locationX>
        <locationY>1247</locationY>
        <defaultConnector>
            <targetReference>Decision030_Is_Engineer_Already_Assigned</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Updating Previous Order</defaultConnectorLabel>
        <rules>
            <name>Just_Created</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Action010_Email_Assigned_Engineer</targetReference>
            </connector>
            <label>Just Created</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision030_Is_Engineer_Already_Assigned</name>
        <label>Decision030 Is Engineer Already Assigned?</label>
        <locationX>204</locationX>
        <locationY>1367</locationY>
        <defaultConnector>
            <targetReference>Action010_Email_Assigned_Engineer</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>New Engineer</defaultConnectorLabel>
        <rules>
            <name>Same_Engineer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Assigned_Engineer__r.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>varAssignedEngineer.Id</elementReference>
                </rightValue>
            </conditions>
            <label>Same Engineer</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Notify Engineers Assigned to Work Orders {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Notify Engineers Assigned to Work Orders</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get010_Assigned_Engineer</name>
        <label>Get010 Assigned Engineer</label>
        <locationX>281</locationX>
        <locationY>887</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assignment010_Fetched_Engineer_to_Variable</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Assigned_Engineer__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update010_Set_Status_to_Assigned</name>
        <label>Update010 Set Status to Assigned</label>
        <locationX>105</locationX>
        <locationY>455</locationY>
        <connector>
            <targetReference>Get010_Assigned_Engineer</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Assigned</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Assigned</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>155</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Decision005_Was_the_Status_of_New_Work_Order_Properly_Assigned</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Assigned_Engineer__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Work_Orderc__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>templateAssignmentEmail</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;{!varAssignedEngineer.FirstName} {!varAssignedEngineer.LastName}, you have been assigned to &lt;strong&gt;Work Order #{!$Record.Worder_Order_Number__c}&lt;/strong&gt;: {!$Record.Name}. It&apos;s current status is &lt;u&gt;{!$Record.Status__c}&lt;/u&gt;.&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>varAssignedEngineer</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
</Flow>
